<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>registrationflows.FreeTrialFlow_SE</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FreeTrailFlow_InvalidAccountNumber</td>
<td>All FreeTrialNegative_SE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FreeTrialFlow_Positive</td>
<td>All FreeTrialFlow_SE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FreeTrailFlowSE_invalidCardNumber</td>
<td>All FreeTrialNegative_SE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FreeTrialFlowSE_RegistrationPage_UncheckBox</td>
<td>All FreeTrialNegative_SE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FreeTrialFlow_InvalidCardExpiry</td>
<td>All FreeTrialNegative_SE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FreeTrailFlowSE_RegistrationPage_EmptyEmailPassword</td>
<td>All FreeTrialNegative_SE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FreeTrailFlowSE_wrongEmail</td>
<td>All FreeTrialNegative_SE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FreeTrailFlow_Payment_invalidOtp</td>
<td>All FreeTrialNegative_SE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FreeTrialFlow_InvalidCvv</td>
<td>All FreeTrialNegative_SE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FreeTrailFlow_Payment_emptyOtp</td>
<td>All FreeTrialNegative_SE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FreeTrailFlow_Registration_InvalidPassword</td>
<td>All FreeTrialNegative_SE </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initApplication</td>
<td>All FreeTrialFlow_FI FreeTrialFlow_SE </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>cleanApplication</td>
<td>All FreeTrialFlow_FI FreeTrialFlow_SE </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
